API_ID=26598255
API_HASH=2851fb6ab1bdcd0fcaf768dfcb923ffb
BOT_TOKEN=7271656197:AAH5WNOfGqPDqRTxft7mDwmMD6_7w_OMW1U
LOGGER_ID=-1002060224175
MONGO_DB_URI=mongodb+srv://TEAMBABY01:UTTAMRATHORE09@cluster0.vmjl9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7995626429
STRING_SESSION=BQHHw-sAGRjpZfqf_I9s0sZ3qNVaUGugwBuBHaG_a4SvlogpUxKKCRgQnpZnSTwNvvauIZ7kJeLRRAg9HDHl7wYhB91yDaB_3P_Xb_OCJQddC1XVENuGRaKAWDdqGnzG3D_AMV67B3LTB9L2zzI2gQuy098M7XR8x46d8qDX6oY3IrE1oe3_KqeGZe9eKqeTervHMyY4cdGuu2PUcuxZd9iscLBUxOzvyl_05h85l6kflv8fO85S6RzheWm2JMFFV-gYZ7-33LbVd1QriFCpq8l06mZ5UtIR-0cTMZrYHWgkLb2rIedoknW40SRn5bCgy4c4cncT6a7HHc6N6gQTR7_LjOoojAAAAAG_vvycAA
